/* .header_outer_container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    /* background-color: transparent; */
     /* height: 10vh;
    color: white; */
    /* transition: all 0.5s; */
    /* transition-timing-function: ease-in; */
    /* z-index: 1; */
    
    
/* } */





/* .header_left ul li {
    margin-top: 20px;
    margin-right: 20px;
  
} */
/* .header_left ul {
    display: flex;
    margin: 0;
    padding: 0;
} */

/* .header_left li {
    margin-right: 20px;
    color:white;
    font-size: 1em;
    cursor: pointer;
} */



   





/* Styles for the right side of the header (icons) */
/* .header_right ul {
    display: flex;
    align-items: center;
} */




/* Responsive styles */
/* @media (max-width: 768px) {
    .header_container {
        flex-direction: column;
        align-items: flex-start;
    } */

    /* .header_left {
        margin-bottom: 10px;
    } */

    /* .header_left ul {
        flex-direction: column;
    } */

    /* .header_left li {
        margin-bottom: 10px;
    } */

    /* .header_right ul {
        margin-top: 10px;
    }
} */


.header_outer_container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    /* z-index: 1; */
}




.header_container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container ul {
    list-style: none;
    display: flex;
    align-items: center;

}

.header_container li {
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
}

.header_left {
    width: 140%;
    display: flex;
    color: white;
}

.header_left a:hover,.header_right a:hover {
    color: gray;
}

.header_left a,.header_right a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    /* /* Add transition for color change */
}

.header_right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

